/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ui-background text-text-primary antialiased;
    background-color: black;

  }
}

@layer utilities {
  .hover-underline-animation {
    @apply relative inline-block;
  }
  .hover-underline-animation::after {
    content: '';
    @apply absolute h-[2px] w-full scale-x-0 bg-brand-orange transition-transform duration-300 ease-out;
    bottom: -4px;
    left: 0;
    transform-origin: bottom right;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
.hide-scrollbar {
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.animate-zoom {
  animation: zoom-in-out 2s ease-in-out infinite;
}